[submodule "frontend"]
	path = frontend
	url = https://github.com/navaneethk-000/url-shortener-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/navaneethk-000/url-shortener-backend
